*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: manipulation;
  }
  
  #app {
    width: 100%;
    height: 100%;
  }
  
  .menu-content {
    min-height: fit-content;
    max-height: 100%;
  }